*{
	margin: 0;
	padding:0;
	box-sixing: border-box;
}


html{
	font-size: 62,5%;
}


h1{
	font-size: 2.2rem;
}


h2{
	font-size: 4.8rem;
}


h3{
	font-size: 3rem;
}


h4,h5{
	font-size: 2.8rem;
}

p{
	font-size: 1.2rem;
	text-align: left;
	font-weight: 650;
  text-align: center;
}

li{
	font-size: 2rem;
}

/*HEADER*/

nav img {
	align-items: center;
	width : 75px;
	height : 75px;
	margin-right:40px;
}

a{
	font-size: 1.8rem;
	color: black;
	text-decoration: none;
}


.main-head {
	background: 	#DEB887 ;
	color: black ;
}


nav{
	min-height: 10vh;
	display: flex;
	align-items: center;
	width: 90%;
	margin:auto;
	padding: 0.5rem;
}


nav ul{
	font-weight: 650;
	font-family: Courier New;
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}


nav ul li:hover a{
	color: darkgrey;
	transition: 0,8s all;
}


#logo{
	font-family: Courier New;
	flex: 1 1 40rem;
}

/*HERO*/
.hero{
	font-family: Courier New;
	min-height: 90vh;
	background: linear-gradient(rgb(245,222,179, 0.4),transparent),url("image/ordi.jpg");
	background-size: cover	;
	background-position: center;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

section h2{
  vertical-align:text-top;	
}

nav ul li.connect{
	background-color: #F5DEB3	;
	padding: 20px;
}

nav ul li.contact{
	padding-right: 42px;
	padding-left: 42px;
}

.body{
	background-color: #F5DEB3;
}
.body h1{
  font-family: Courier New;
  font-size: 4rem;
  text-align: center;
}

.imagebox{
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F5DEB3	;
  
}
.item img{
  width:300px;
  height: 200px;
  padding-bottom: 18%;
  margin-bottom: 2%;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer{
  font-family: Didot;
  width: 33.3%;
  background-color: #DEB887;
  color: black;
  float: left;
  text-align: left;
  
}

.footer p{
  font-size: 18px;
  text-align: left;
}

.footer h1.center{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.footer a{
  font-family: Didot;
  font-size: 19.5px;
  padding-left:120px;
  font-weight: bold;
}

.page{
  text-align: center;
  font-size: 60px;
  font-family:Copperplate Gothic ;
  margin: auto;
  color: white;

}

p.corp{
  padding-left: 140px;
  font-size: 18.6px;
  margin-bottom: 4px;
}

.body1{
  background: linear-gradient(rgb(245,222,179, 0.4),transparent),url("image/reseau.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom:345px;
}

.mot{
  background-position: center;
  background-size: cover;
  color: white;
  font-size : 25px;
  font-family: Didot;
  
}


.right{
	padding: 25px 40px;
  text-align: center;
}


.field{

	width: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: white;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
}



textarea{
	min-height: 150px;
}

.btn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color:#E1C699 ;
	color: black;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn{
    background-color: #E1C699;
    text-align: center;
  
}
h6{
  font-size : 30px;
  text-align: center;
}

table {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 20px;
}

th, td {
		text-align: left;
		padding: 8px;
		border: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:hover {
	background-color: #ddd;
}
.tab{
  background-color: #F5DEB3;
}

.fleche{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icone{
  width:50px;
}
